<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">

    <title>Administrateur</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="" method="" >
            <p id="u2" class="error"></p>
            <input class="input" type="text" name="" id="uname" placeholder="User Name"><br>
            <p id="u1" class="error"></p>
            <input class="input" type="password" name="" id="pass" placeholder="Enter Password"><br>
            <p id="u2" class="error"></p>
            <input type="submit" value="Login">
        </form>
    </div>


    <script src="/javascripts/admin.js"></script>
</body>
</html>