<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <title>Dashbord</title>
</head>
<body>
    <div class="sidebar active">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-c-plus-plus' style="font-size: 30px;"></i>
                <div class="logoname" style="margin-left: 5px;">Brand Name</div>
            </div>
            <i class='bx bx-menu-alt-right' id="btn" style="font-size: 25px;"></i>
        </div>
        <ul class="nav_list">
            <li>
                
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_names">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user' ></i>
                    <span class="link_names">User</span>
                </a>
                <span class="tooltip">User</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat' ></i>
                    <span class="link_names">Messages</span>
                </a>
                <span class="tooltip">Messages</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="link_names">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-folder' ></i>
                    <span class="link_names">Files</span>
                </a>
                <span class="tooltip">Files</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cart-alt' ></i>
                    <span class="link_names">Orders</span>
                </a>
                <span class="tooltip">Orders</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart' ></i>
                    <span class="link_names">Liked</span>
                </a>
                <span class="tooltip">Liked</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog' ></i>
                    <span class="link_names">Settings</span>
                </a>
                <span class="tooltip">Settings</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="https://vz.cnwimg.com/wp-content/uploads/2014/01/alex.jpg?x86007" alt="">
                    <div class="name_job">
                        <div class="name">Name</div>
                        <div class="job">Role</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>
    </div>
    <div class="home_content">
        <div class="text client">
            <div class="contenu_card">
                       
                <div class="carnet">                   
                    <div class="table-container" v-else>
                     
                        <h1 class="heading">
                            La liste des clients
                        </h1>
               
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Email</th>
                                        <th>Numero</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr >
                                        <td  data-label="Nom ">kionou</td>
                                        <td data-label="Prenom">mamadou </td>
                                        <td data-label="email">kionpumamadou.00@gmail.com</td>
                                        <td data-label="email">0987654312</td>
                                        <td  data-label="Actions">
                                           <div  class="doctors">
                                           <i class="fa-solid fa-eye"  @click="detail(bien.id)" ></i>
                                           <i class="fa-solid fa-pen-to-square" @click="redirect(bien.id)"></i>
                                           <i class="fa-solid fa-trash" @click="bienDelete(bien.id)"></i>
                                           </div>
                                          
                                        </td>
                                      
                                    </tr>
                                  
                                </tbody>
                            </table>
                    </div>
                    
               </div>
           
           
       </div>
        </div>

        <div class="text agence">
            <div class="contenu_card">
                       
                <div class="carnet">                   
                    <div class="table-container" v-else>
                     
                        <h1 class="heading">
                            La liste des Agences
                        </h1>
               
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Code</th>
                                        <th>Localisation</th>
                                        <th>Numero</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr >
                                        <td  data-label="Nom ">KIONOU COMMUNICATION</td>
                                        <td data-label="Code">TRANS_590997 </td>
                                        <td data-label="Localisation">Abidjan-abobo(Avocat)</td>
                                        <td data-label="Numero">0987654312</td>
                                        <td  data-label="Actions">
                                           <div  class="doctors">
                                           <i class="fa-solid fa-eye"  @click="detail(bien.id)" ></i>
                                           <i class="fa-solid fa-pen-to-square" @click="redirect(bien.id)"></i>
                                           <i class="fa-solid fa-trash" @click="bienDelete(bien.id)"></i>
                                           </div>
                                          
                                        </td>
                                      
                                    </tr>
                                  
                                </tbody>
                            </table>
                    </div>
                    
               </div>
           
           
       </div>
        </div>

        <div class="text transaction">
            <div class="contenu_card">
                       
                <div class="carnet">                   
                    <div class="table-container" v-else>
                     
                        <h1 class="heading">
                            La liste des Transactions
                        </h1>
               
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Email</th>
                                        <th>Numero</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr >
                                        <td  data-label="Nom ">kionou</td>
                                        <td data-label="Prenom">mamadou </td>
                                        <td data-label="email">kionpumamadou.00@gmail.com</td>
                                        <td data-label="email">0987654312</td>
                                        <td  data-label="Actions">
                                           <div  class="doctors">
                                           <i class="fa-solid fa-eye"  @click="detail(bien.id)" ></i>
                                           <i class="fa-solid fa-pen-to-square" @click="redirect(bien.id)"></i>
                                           <i class="fa-solid fa-trash" @click="bienDelete(bien.id)"></i>
                                           </div>
                                          
                                        </td>
                                      
                                    </tr>
                                  
                                </tbody>
                            </table>
                    </div>
                    
               </div>
           
           
       </div>
        </div>
    </div>
    <script src="/javascripts/dashboard.js"></script>
    
</body>
</html>