<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/historique.css">
    <title>Historique</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-content">
                <div class="logo">
                    <a href="/">YourLogo</a>
                </div>
                <div class="main_list" id="mainListDiv">
                    <ul>
                        <li><a href="/">A propos</a></li>
                        <li><a href="#">Kionou</a></li>
                        <li><a href="/">Déconnection</a></li>
                    </ul>
                </div>
                <div class="media_button">
                    <button class="main_media_button" id="mediaButton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
       <div class="content">
        <div class="historique">
            <div class="transfert">
                <a href="" class="btndetail">Effectuez un transfert</a>
            </div>
            <div class="contenu">
                <div class="detail">
                    <p>A kionou 0757408303</p>
                    <span>28 janvier 2022,21:33</span>
                </div>
                <div class="prix">
                    <p>1000000 F FCFA</p>
                    <a href="#">Détail</a>
                </div>
            </div>
                <div class="contenu">
                    <div class="detail">
                        <p>A kionou 0757408303</p>
                        <span>28 janvier 2022,21:33</span>
                    </div>
                    <div class="prix">
                        <p>1000000 F FCFA</p>
                        <a href="#">Détail</a>
                    </div>
                </div>
        </div>
        <div class="infouser">
            <div class="solde">
                <p>1020000 F CFA</p>
            </div>
            <div id="contenu">
                <p class="un">Nom: </p>
                <p class="deux">kionou</p>
            </div>
            <div id="contenu">
                <p class="un">Prenom: </p>
                <p class="deux">Mamadou</p>
            </div>
            <div id="contenu">
                <p class="un">Email: </p>
                <p class="deux">kionouMamadou@gmail.com</p>
            </div>
            <div id="contenu">
                <p class="un">Numéro: </p>
                <p class="deux">0757408303</p>
            </div>
            
        </div>
       </div>
    </div>
  <script src="/javascripts/app.js"></script>
</body>
</html>