<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Accueil</title>
</head>
<body>
  
<nav class="nav">
  <div class="navbar">
    <div class="logo">
      <a href="/historique">YourLogo</a>
    </div>
    <div class="main_list" id="mainListDiv">
      <ul>
        <li><a href="/historique">Accueil</a></li>
        <li><a href="/">A propos</a></li>
        <li><a href="/">Connexion</a></li>
      </ul>
    </div>
    <div class="media_button">
      <button class="main_media_button" id="mediaButton">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, velit!</p>
    </div>
    <div class="formulaire">
      <!-- <header>
        <h1>
          <a href="#">
            <img src="http://tfgms.com/sandbox/dailyui/logo-1.png" alt="Authentic Collection">
          </a>
        </h1>
      </header> -->
      <% if (typeof alerte !="undefined" && alerte) { %>
        <div class="validation">
          <%= alerte %> <br>
        </div>
      <% }%>
      <% if (typeof alert !="undefined" && alert.numero) { %>
        <div class="validation">
          <%= alert.numero.msg %> <br>
        </div>
      <% }%>

      <% if (typeof alert !="undefined" && alert.password) { %>
        <div class="validation">
          <%= alert.password.msg %> <br>
        </div>
      <% }%>
      <h1 class="text-center">Register</h1>
      <form class="registration-form" method="post" action="/">
     
        <label>
          <span class="label-text">Numéro Téléphonique</span>
          <input type="tel" name="numero">
        </label>
        <label class="password">
          <span class="label-text">Mot de passe</span>
          <!-- <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
            <span class="glyphicon glyphicon-eye-close"></span>
          </button> -->
          <input type="password" name="password">
        </label>
        <div class="text-center">
          <button class="submit">Connecter</button>
        </div>
      </form>
    </div>

  </div>


  <script src="/javascripts/app.js"></script>
</body>
</html>
