<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/transfert.css">
    <title>transfert</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-content">
                <div class="logo">
                    <a href="/">YourLogo</a>
                </div>
                <div class="main_list" id="mainListDiv">
                    <ul>
                        <li><a href="/">A propos</a></li>
                        <% if (typeof data !="undefined" && data.nom) { %>
                        <li><a href="#"> <%= data.nom %> </a></li>   
                          <% }%>
                          <li onclick="logout()"><a href="/logout" >deconnecter</a></li>
                    </ul>
                </div>
                <div class="media_button">
                    <button class="main_media_button" id="mediaButton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="content">
            <form class="formulaire" action="/transfert" method="post">
                <input type="text" name="nom" placeholder="Nom ">
                <input type="text" name="prenom" placeholder="Prenom ">
                <input type="tel" name="numero" placeholder="Téléphone">
                <input class="solde" type="tel" name="montant" placeholder="Montant Envoyé">
                <input class="reduction" type="text" name="montant_recu" placeholder="Montant Reçu">
                <p>Frais = 1% du montant</p>
                <input type="hidden" class="frais" name="frais" value="">
                <% if (typeof data !="undefined" && data.id) { %>
                    <input type="hidden" name="id" value=" <%= data.id %>">
                  <% }%>

                  <% if (typeof data !="undefined" && data.numero) { %>
                    <input type="hidden" name="numero_user" value="<%= data.numero %>" >
                  <% }%>
                <button>Envoyer</button>
            </form>
        </div>

    </div>

  <script src="/javascripts/app.js"></script>
</body>
</html>