<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/transfert.css">
    <title>transfert</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <form class="formulaire" action="">
                <input type="text" name="nom" placeholder="Nom complet">
                <input type="tel" name="numero" placeholder="Téléphone">
                <input type="tel" name="montant" placeholder="Montant eEnvoyé">
                <input type="text" name="montant_recu" placeholder="Montant Reçu">
                <button>envoyer</button>
            </form>
        </div>

    </div>
</body>
</html>