<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/valider.css">
    <title>Valider_transfert</title>
</head>
<body>
   
    
    <div class="container">
        <nav class="nav">
            <div class="nav-content">
                <div class="logo">
                    <a href="/">YourLogo</a>
                </div>
                <div class="main_list" id="mainListDiv">
                    <ul>
                        <li><a href="/">Acceuil</a></li>
                        <li><a href="#">A propos</a></li>
                        <li><a href="/">Connexion</a></li>
                    </ul>
                </div>
                <div class="media_button">
                    <button class="main_media_button" id="mediaButton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </nav>
        <div class="container-content">

        </div>
         <div class="content">
            <div class="infoperso">
                <h4>INFORMATION PERSONNELLE</h4>
                <div class="contenu">
                    <p>Nom : <span>Kionou</span> </p> 
                </div>
                <div class="contenu">
                    <p>Prenom : <span>Mamadou</span> </p> 
                </div>
                <div class="contenu">
                    <p>Adresse Email : <span>Kionoumamadou@gmail.com</span> </p> 
                </div>
                <div class="contenu">
                    <p>Numéro : <span>0757408303</span> </p> 
                </div>
            </div>
            <div class="trait_dessus"></div>
            <div class="infoperso">
                <h4>INFORMATION DU DESTINATAIRE </h4>
                <div class="contenu">
                    <p>Nom : <span>Kionou</span> </p> 
                </div>
                <div class="contenu">
                    <p>Prenom : <span>Mamadou</span> </p> 
                </div>
                <div class="contenu">
                    <p>Numéro : <span>0757408303</span> </p> 
                </div>
            </div>
            <div class="trait_dessus"></div>
            <div class="infoperso">
                <h4>INFORMATION DU TRANSFERT </h4>
                <div class="contenu">
                    <p>Montant Envoyé : <span>10000 F CFA</span> </p> 
                </div>
                <div class="contenu">
                    <p>Montant Reçu : <span>10000 F CFA</span> </p> 
                </div>
                <div class="contenu">
                    <p>Frais de Transfert : <span>1OO F CFA</span> </p> 
                </div>
            </div>
            <form action="">
                <div class="btn">
                <button>Valider</button>
                </div>
            </form>
        </div> 
    </div>
</body>
</html>