<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/verifier.css">
    <title>Verifier</title>
</head>
<body>
    <nav class="nav">
        <div class="navbar">
            <% if (typeof data !="undefined" && (data.id || data.code )) { %>
            <div class="logo">
                <a href="/agent/transaction">
                    <p>NITA</p>
                 <p>transfert d'argent</p>
                </a>
            </div>
            <div class="main_list" id="mainListDiv">
                <ul>
                    <li><a href="#">A propos</a></li>
                    <li ><a href="/agent/logout">deconnecter</a></li>
                </ul>
            </div>
            <div class="media_button">
                <button class="main_media_button" id="mediaButton">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <% }%>
        </div>
    </nav>

    <div class="container">
        <div class="text">
            <% if (typeof data !="undefined" && (data.id || data.nom )) { %>
            <p>
                   AGENCE <%= data.nom %>

            </p>
            <% }%>

        </div>
        <div class="content">
            <form action="/agent/transaction"  method="post" class="formulaire">
                <select id="type_transaction" name="type_transaction" class="input">
                    <option value="" disabled selected>-- TYPE DE TRANSACTION --</option>
                    <option value="depot">Depot</option>
                    <option value="retrait">Retrait</option>  
                  </select>
                <input type="tel" name="numero" placeholder="Numéro dépot">
                <% if (typeof alert !="undefined" && alert.numero) { %>
                 <div class="validation">
                    <p>
                        <%= alert.numero.msg %>
                    </p>
                 </div>
                    <% }%>
                <button>Envoyer</button>
            </form>
        </div>
    </div>
</body>
</html>