*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-content {
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav {
    width: 100%;
  height: 65px;
  text-align: center;
    background-color: rgba(0, 0, 255, 0.8);
}

.nav div.logo {
    width: 180px;
    height: 65px;
    position: absolute;
    padding: 10px;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list {
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li {
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    ;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span {
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .nav-content {
        margin: 0;
    }

}

@media screen and (max-width:768px) {

    .nav-content {
        margin: 0;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list {
        height: 200px;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li {
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 255, 0.8);
    }

    .nav div.main_list ul li a {
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }

    .nav div.media_button {
        display: block;
    }

        .noresult p {
            text-align: center;
            font-size: 15px;
        }
}


/* container debut */

.container{
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.container .info{
 
    height: 200px;
    /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.solde{
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
}
.info #contenu{
    display: flex;
    justify-content: center;
}
 #contenu .un{
   font-weight: bold;
    font-size: 20px;
}

#contenu .deux {
    font-size: 20px;    
}


.container .content{
    max-width: 500px;
    width: 98%;
    height: 200px;
    border: 1px solid #dadce0;
        border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire input{
    height: 3rem;
    max-width: 450px;
    width: 98%;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    font-family: 'Roboto Serif', serif;
    margin-top: 40px;
}



.formulaire input:hover {
    border: 1px solid rgb(23, 134, 194);
}

.formulaire button {
    width: 9rem;
    height: 3rem;
    margin-top: 25px ;
    text-align: center;
    border: none;
    background-color: rgb(23, 134, 194);
    color: white;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Kaushan Script',cursive;
}

.formulaire button:hover {
    background-color: white;
    color: rgb(23, 134, 194);
    border: 1px solid rgb(23, 134, 194);
    cursor: pointer;
}
.noresult{
    max-width: 500px;
    width: 98%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.noresult a{
    align-items: center;
    text-decoration: none;
        color: white;
        padding: 10px 17px;
        border: 1px solid blue;
        border: none;
            background-color: rgb(23, 134, 194);
            border-radius: 10px;
            font-size: 20px;
}
.noresult p{
    text-align: center;
    font-size: 20px;
}
.noresult a:hover{
    background-color: white;
    color: rgb(23, 134, 194);
        border: 1px solid rgb(23, 134, 194);
}
.validation{
    color: red;
}
