@import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400);
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GFS Didot', serif;
    /* transition: all 0.4s; */
   
}

.nav-content {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
        justify-content: space-around;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    /* position: fixed; */
    line-height: 65px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.8);
    border: 1px solid blue;
}

.nav div.logo {
    width: 180px;
    height: 10px;
    /* position: absolute; */
}

.nav div.logo a {
    text-decoration: none;
    /* color: #fff; */
    font-size: 1.8em;
   
}

.nav div.logo a:hover {
    color: #c0c0c0;
}
.nav-list{
    border: 1px solid red;
        display: flex;
            width: 500PX;
            justify-content: space-around;
}

.nav div.main_list {
    /* width: 600px; */
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li {
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    ;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span {
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .nav-content {
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

}

@media screen and (max-width:768px) {

    .nav-content {
        margin: 0;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list {
        height: 200px;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li {
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 255, 0.8);
    }

    .nav div.main_list ul li a {
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }

    .nav div.media_button {
        display: block;
    }
}

/* container debut */

.container{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container .content{
    width: 900px;
    height: auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}

.content  .historique{
    width: 57%;
    height: auto;
    /* border: 1px solid rgb(0, 255, 187); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
}

.transfert{
    border: 1px solid red;
        width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
        text-align: center;
        border: none;
        background-color:rgb(12, 195, 202) ;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Kaushan Script', cursive;
      
      
}

.transfert .btndetail {
        text-decoration: none;
        color: white;
        padding: 10px 17px;
   
}

.transfert:hover {
    background-color: white;
  
    border: 1px solid rgb(23, 194, 190);
    cursor: pointer;
}
.transfert .btndetail:hover {
   
    color: rgb(23, 194, 190);
    
}

.historique .contenu{
        width: 98%;
        max-width: 450px;
        height: 120px;
        border: 1px solid #dadce0;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        margin-top: 20px;
}

.noresult{
        width: 98%;
        max-width: 450px;
        height: 120px;
        border: 1px solid #dadce0;
        padding: 6px;
        margin-top: 20px;
        text-align: center;
        padding: 15px;
}
.contenu .detail{
        /* width: 87%;
        height: 100px; */
        /* border: 1px solid rgb(193, 12, 63); */
        display: flex;
        flex-direction: column;
        padding: 20px 0;
}
.detail p{
    font-size: 17px;
    font-weight: bold;
}

.detail span {
    font-size: 14px;
    color: #9797a5;
}

.contenu .prix {
    /* width: 10%;
    height: 100px; */
    /* border: 1px solid rgb(12, 87, 193); */
    display: flex;
        flex-direction: column;
        padding: 20px 0;
        align-items: flex-end;
}
.prix p{
    font-weight:bold ;
}
.prix a {
   color: black;
    text-decoration: none;
}
.prix a:hover {
    color: rgb(43, 186, 233);
    text-decoration: underline;
}
.contenu p{
    padding-bottom: 10px;
}

.content .infouser{
    /* width: 40%; */
    height: 250px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 20px 40px;
    text-align: center;
    top: 0;
    position: sticky;  
}
.content .infouser:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 10%);
}
.solde{
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
        display: flex;
        justify-content: center;
}
.infouser #contenu{
    display: flex;
}
 #contenu .un{
   font-weight: bold;
    font-size: 20px;
}

#contenu .deux {
    font-size: 20px; 
    padding-left: 5px;   
}

/* container fin */

@media screen and (max-width: 885px)  {
    .content .infouser {
            width: 45%;
    }  
    
         #contenu .un {
       
             font-size: 16px;
         }
    
         #contenu .deux {
             font-size: 16px;
         }
}

@media screen and (max-width: 768px) {
    .container .content{
        flex-direction: column-reverse;
    }

         .content .infouser {
             width: 100%;
             position: initial;
         }

                  .content .historique {
                      width: 100%;
                      margin-top: 15px;
                  }
                .infouser #contenu {
                    align-items: center;
                    justify-content: center;
                }
}

@media screen and (max-width: 400px) {
    .content .infouser {
            padding: 18px;
        }
}